<form ngSubmit="submitContact">
  <div class="form-group">
      <label htmlFor="name">Contact name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Contact name" />
  </div>
  <div class="form-group">
      <label htmlFor="model">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="email" />
  </div>
  <div class="form-group">
      <label htmlFor="horsepower">Phones</label>
      <input type="text" class="form-control" id="Phones" name="Phones" placeholder="Phones" />
  </div>

  <button *ngIf="add" type="submit" class="btn btn-primary">Add</button>

</form>

<div *ngIf="add">
  <button class="btn btn-primary mr-2" (click)="editContact">Edit</button>
  <button class="btn btn-secondary" (click)="cancelEdit">cancel</button>
</div>
    

