<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
      <label>Contact name</label>
      <input type="text" class="form-control" name="name" placeholder="Contact name" 
        [(ngModel)]="model.name" #name="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted && name.invalid && name.dirty || name.touched }" required />
        <div *ngIf="f.submitted && name.invalid && name.dirty || name.touched" class="invalid-feedback">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
  </div>
  <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" placeholder="email" 
        [(ngModel)]="model.email" #email="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted && email.invalid && email.dirty || email.touched }" required />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors?.required">Email is required</div>
        <div *ngIf="email.errors?.email">Email must be a valid email address</div>
      </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
    </div>
    <div class="col-md-4 mb-3">
      <button class="btn btn-success mr-2" (click)="addPhone">Edit</button>
    </div>
  </div>
  <div class="form-group">
      <label>Phones</label>
      <input type="text" class="form-control" id="Phones" name="Phones" placeholder="Phones" />
  </div>

  <button *ngIf="add" type="submit" class="btn btn-primary">Add</button>

</form>

<div *ngIf="!add">
  <button class="btn btn-primary mr-2" (click)="editContact">Edit</button>
  <button class="btn btn-secondary" (click)="cancelEdit">cancel</button>
</div>
    

